/* ===== Global ===== */

:root {
  --white: #fafafa;
  --blue: #0a2146;
  --roxo: #663399;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

form {
  max-width: 378px;
}

/* ===== Header ===== */

header {
  width: 100%;
  text-align: center;
  padding: 2rem;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0, 0.5);
  background-color: var(--roxo);
}

header p {
  color: var(--white);
}

/* ===== Container ===== */

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to rigth, #ddd, #eee, #ddd);
}

/* ===== Form =====  */

.container form {
  background: var(--roxo);
  display: flex;
  flex-direction: column;
  width: 49%;
  border-radius: 0.5rem;
  text-align: center;
  align-items: center;
}

.container form label {
  color: var(--white);
  font-size: 15px;
  margin: 4%;
}

.container form input {
  text-align: center;
  border: 0;
  outline: 0;
  margin: 5%;
  padding: 10px;
  font-size: 15px;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0, 0.2);
}

.container form input:focus {
  box-shadow: inset 1px 2px 3px 2px rgba(0, 0, 0, 0, 0.2);
}

.container form button {
  cursor: pointer;
  margin: 9%;
  border: 0;
  outline: 0;
  padding: 0.8rem;
  background: var(--white);
  transition: 0.3s ease-in-out;
  width: 120px;
  border-radius: 20px;
  color: #000000;
}

.container form button:hover {
  background: var(--white);
  color: var(--blue);
}

.container #btnRestart {
  display: none;
  cursor: pointer;
  margin: 2%;
  border: 0;
  outline: 0;
  padding: 0.8rem;
  background: var(--roxo);
  transition: 0.3s ease-in-out;
  width: 10%;
  border-radius: 20px;
  color: #fff;
  justify-content: center;
}

.container .result-bom {
  margin: 27px;
  padding: 30px;
  border-radius: 5px;
  background: rgba(177, 175, 175, 0.295);
}

/* ===== Section ===== */

section {
  width: 378px;
}

section h3 {
  color: var(--blue);
}

/* ===== Footer ===== */

footer {
  width: 100%;
  text-align: center;
  padding: 2rem;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0, 0.5);
  background-color: var(--white);
  color: var(--blue);
  margin-top: 40%;
  font-size: 20px;
}

.h3status {
  color: var(--roxo);
  margin: 74px auto;
}


#attempt{
  color: var(--roxo);
  display: flex;
  justify-content: center;
}