/* ===== Global ===== */

:root {
  --white: #fafafa;
  --blue: #0a2146;
  --roxo: #663399;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

/* ===== Header ===== */

header {
  width: 100%;
  text-align: center;
  height: 116px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--roxo);
}

header p {
  color: var(--white);
}

/* ===== Container ===== */

.container {
  text-align: center;
}

/* ===== Form =====  */

.container form {
  background: var(--roxo);
  display: flex;
  flex-direction: column;
  width: 428px;
  border-radius: 0.5rem;
  text-align: center;
  align-items: center;
}

.container form label {
  color: var(--white);
  font-size: 15px;
  margin: 4%;
}

.container form input {
  text-align: center;
  border: 0;
  outline: 0;
  margin: 5%;
  padding: 10px;
  font-size: 15px;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0, 0.2);
}

.container form input:focus {
  box-shadow: inset 1px 2px 3px 2px rgba(0, 0, 0, 0, 0.2);
}

.container form button {
  cursor: pointer;
  margin: 9%;
  border: 0;
  outline: 0;
  padding: 0.8rem;
  background: var(--white);
  transition: 0.3s ease-in-out;
  width: 120px;
  border-radius: 20px;
  color: #000000;
}

.container form button:hover {
  background: var(--white);
  color: var(--blue);
}

.container #btnRestart {
  display: none;
  cursor: pointer;
  margin: 2%;
  border: 0;
  outline: 0;
  padding: 0.8rem;
  background: var(--roxo);
  transition: 0.3s ease-in-out;
  border-radius: 20px;
  color: #fff;
  justify-content: center;
}

.container .result-bom {
  margin: 27px;
  height: 70px;
  border-radius: 5px;
  background: rgba(177, 175, 175, 0.295);
  display: flex;
  justify-content: center;
  align-items: center;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ===== Section ===== */

section {
  width: 378px;
}

section h3 {
  color: var(--blue);
}

/* ===== Footer ===== */

footer {
  width: 100%;
  text-align: center;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0, 0.5);
  background-color: var(--roxo);
  color: var(--white);
  margin-top: 7%;
  font-size: 20px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h3status {
  color: var(--roxo);
  margin: 74px auto;
}

#attempt {
  color: var(--roxo);
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  /* .forms {
    align-items: flex-end;
  } */
}
